[submodule "gems/aws-crt/native/crt/aws-crt-ffi"]
	path = gems/aws-crt/native/crt/aws-crt-ffi
	url = https://github.com/awslabs/aws-crt-ffi
[submodule "aws-crt-ffi"]
	path = gems/aws-crt/aws-crt-ffi
	url = https://github.com/awslabs/aws-crt-ffi.git
